<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.westlakefinancial.technology.dao.SystemManagementDao">

    <insert id="addUser" parameterType="com.westlakefinancial.technology.entity.UserInfo">
        insert into s_user (user_id, user_name, password, create_date)
        values (#{userInfo.userId}, #{userInfo.username}, #{userInfo.password}, now())
    </insert>

    <delete id="deleteUser" parameterType="String">
        delete
        from s_user
        where user_id = #{userId}
    </delete>

</mapper>